#save the content to requirements.txt file,
#then use pip install -r requirements.txt
# Hugging Face core packages
transformers>=4.41.0
datasets>=2.20.0
accelerate>=0.30.0
huggingface_hub>=0.23.0
tokenizers>=0.19.0
# common packages
scipy
numpy
pandas
tqdm
# log
tensorboard
python-dotenv